In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os as os
import warnings
warnings.filterwarnings("ignore")

In [2]:
os.getcwd()
os.chdir("C://Users//Asra Iqbal//Desktop")

In [3]:
dataset= pd.read_csv("UCI_Credit_Card.csv")
dataset.shape

(30000, 25)

In [4]:
dataset.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [6]:
dataset['SEX'].value_counts()

2    18112
1    11888
Name: SEX, dtype: int64

In [7]:
# dataset.isnull().sum()
dataset.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [8]:
dataset.columns=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'target']

In [9]:
dataset['target'].value_counts()

0    23364
1     6636
Name: target, dtype: int64

In [10]:
from sklearn.utils import resample

def cleaining(data):
    df_majority = dataset[dataset.target==0]
    df_minority = dataset[dataset.target==1]
    df_minority_upsampled = resample(df_minority,replace=True,n_samples=23364,random_state=123)

# Combine majority class with upsampled minority class

    df_upsampled = pd.concat([df_majority, df_minority_upsampled])
    # Display new class counts

    return df_upsampled

In [11]:
df=cleaining(dataset)

In [12]:
df['target'].value_counts()

1    23364
0    23364
Name: target, dtype: int64

In [13]:
X=df.drop(['target','ID'],1)

In [14]:
X.head(5)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
5,50000.0,1,1,2,37,0,0,0,0,0,...,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0
6,500000.0,1,1,2,29,0,0,0,0,0,...,445007.0,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0

In [15]:
y=pd.DataFrame(df['target'])

In [16]:
y.columns=['target']
y.head()

   target
2       0
3       0
4       0
5       0
6       0

In [17]:
import statsmodels.api as sm
#X1 = sm.add_constant(X)
# model = sm.OLS(y,X1).fit()
# model.summary()

In [18]:
cols = list(X)
p_max = 1
while (len(cols)>0):
    p=[]
    X_1= X[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = list(model.pvalues.values[1:])
    p = pd.Series(p,index = cols)
    p_max = max(p)
    features_with_p_max = p.idxmax()
    if (p_max>0.05):
        cols.remove(features_with_p_max)
    else:
        break
selected_features = cols

In [19]:
selected_features

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'BILL_AMT1',
 'BILL_AMT5',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [20]:
X2= X[selected_features]

In [48]:
finaldf=X2
finaldf['target']=y['target']
finaldf.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,BILL_AMT1,BILL_AMT5,PAY_AMT1,PAY_AMT2,PAY_AMT4,PAY_AMT5,PAY_AMT6,target
2,90000.0,2,2,2,34,0,0,0,29239.0,14948.0,1518.0,1500.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,46990.0,28959.0,2000.0,2019.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,8617.0,19146.0,2000.0,36681.0,9000.0,689.0,679.0,0
5,50000.0,1,1,2,37,0,0,0,64400.0,19619.0,2500.0,1815.0,1000.0,1000.0,800.0,0
6,500000.0,1,1,2,29,0,0,0,367965.0,483003.0,55000.0,40000.0,20239.0,13750.0,13770.0,0

In [21]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

C:\Users\Asra Iqbal\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

without feature selection acurae was 64

In [49]:
from sklearn.cross_validation import train_test_split

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [72]:
#Function to fit, train, and test linear regression model.
def basicregressor(data): 
    #Split data
    X = data.drop(columns='target')
    y = data['target']
    X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.30, random_state = 52)
#======================================================
    log_reg = LogisticRegression()
    log_reg.fit(X_train,y_train)
    y_pred_log= log_reg.predict(X_test)
    crossval_log = cross_val_score(log_reg,X_train,y_train,cv=10).mean()

    log_matrix = confusion_matrix(y_test, y_pred_log)
    pre_log = precision_score(y_test, y_pred_log)
    recall_log = recall_score(y_test, y_pred_log)

#=======================================================

    rf = RandomForestClassifier()
    rf.fit(X_train,y_train)
    y_pred_rf= rf.predict(X_test)
    crossval_rf = cross_val_score(rf,X_train,y_train,cv=10).mean()

    rf_matrix = confusion_matrix(y_test, y_pred_rf)
    pre_rf = precision_score(y_test, y_pred_rf)
    recall_rf = recall_score(y_test, y_pred_rf)

#===========================================================
    knn= KNeighborsClassifier()
    knn.fit(X_train,y_train)
    k
    y_pred_knn = knn.predict(X_test)
    crossval_knn = cross_val_score(knn,X_train,y_train,cv=10).mean()

    knn_matrix = confusion_matrix(y_test, y_pred_knn)
    pre_knn = precision_score(y_test, y_pred_knn)
    recall_knn = recall_score(y_test, y_pred_knn)   
#==========================================================

    Model = ["Logistic Regression","Random Forest Classifier", "K-NN Classifier"]
    cross_val= [crossval_log,crossval_rf,crossval_knn]
    matrix = [log_matrix,rf_matrix,knn_matrix]
    precision = [pre_log,pre_rf,pre_knn]
    recall = [recall_log,recall_rf,recall_knn]
    results=pd.DataFrame({'Model': Model,'CrossValidation Score': cross_val,'Accuracy Matrix': matrix,'Precision': precision,'Recall': recall})
    
    return results
    #return knn_matrix,rf_matrix,log_matrix, pre_knn,pre_rf,pre_log,recall_log, recall_knn,recall_rf,crossval_log, crossval_rf, crossval_knn

In [77]:
final_table=basicregressor(finaldf)

In [78]:
final_table

,Accuracy Matrix,CrossValidation Score,Model,Precision,Recall
0,"[[6317, 692], [1394, 5616]]",0.772863,Logistic Regression,0.890298,0.801141
1,"[[7009, 0], [0, 7010]]",1.000000,Random Forest Classifier,1.000000,1.000000
2,"[[4350, 2659], [1430, 5580]]",0.693510,K-NN Classifier,0.677267,0.796006

In [83]:
final_table.to_csv('final_table.csv', sep=",")

In [84]:
pwd

'C:\\Users\\Asra Iqbal\\Desktop'